html {
    background:white;
}
h3 {
	 text-align: center;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: 24px;
}

body {
    max-width: 860px;
    min-width: 360px;
    margin: 0px auto !important;
    background: #FFF;
    padding:0px 5px;
}
 p.intro {
    color: blue;
    text-align:left;
}
.p  {
	 text-align:center;
    font-size:16px;}
 @media (min-width: 768px){
.lead {
    font-size: 16px;
}
 }
.page-title  {
    font-size:120%;
    text-align: left;
    margin:10px 0px;
}
.featur2 img {
	height:300px;
	margin-bottom:20px;
}
.header-container {
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: #5f5f5f;
    color: white;
}
.header-container .header-bar  {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.header-container .header-bar  a  {
    color: white;
    font-size: bold;
}
 
.footer-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #ccc;
}
.menu-container {
    text-align: left;
    padding: 10px 5px;
    background-color: #f7f7f7;
}
.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
 
.site-name {
    font-size:200%;
    margin:10px 10px 10px 0px;
    padding: 5px;
}
 
.container  {
    margin: auto;
}
 
.demo-container, .login-container, .account-container {
    padding: 5px;
    border: 1px solid #ccc;
    text-align:left;
    margin:20px 0px;
}
.page-title {text-transform:uppercase;} 
.btn-default {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}
 
.customer-info-container {
    text-align: left;
    border: 1px solid #ccc;
    padding:15px;
}
.product-preview-container {
   
    padding:20px 5px 0;
    width: 100%;
    margin: 0 0 10px 0;
    display: inline-block;
    text-align:left;
    background: #f7f7f7; 
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}
.cart .product-preview-container {
   
    padding: 20px 5px 0 ;
    width: 90%;
    margin:0 0 10px 0 ;
    display: inline-block;
    text-align:left;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}
.cart .product-image {
    width: 200px;
    height: AUTO;
    FLOAT:left;
}

.cart-confirm  .product-preview-container {
    
    padding: 10px 5px 0 ;
    width: 100%;
    margin:0;
    display: inline-block;
    text-align:left;
    background: #f7f7f7;
    -webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.mt20{margin-top:20px;}
.cart-confirm .product-image {
    width: 60px;
     height: 60px;
    FLOAT:left;
}
.cart-confirm ul li {
    margin-bottom:0px;
}
.cart ul li {
    margin-bottom:10px;
}
ul li {
    margin-bottom: 50px;
}
.product-preview-container input {
    width: 50px;
}
.mr10 {margin-right: 10px;} 
 
.product-image {
    width:80%;
    height:60%;
}
 
ul {
    list-style-type: none;
    padding-left: 5px;
    margin:5px;
}
 
 
.navi-item {
    margin: 5px 5px 5px 20px;
}
 
.button-update-sc {
    color: red;
    margin: 10px 5px 5px 20px;
}
 
.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}
 
.price {
    color: blue;
    font-weight: bold;
}
 
.subtotal {
    color: red;
    font-weight: bold;
}
 
.total {
    color: red;
    font-weight: bold;
    font-size: 120%;
}
 
table td {
    padding: 5px;
}
.featurette-heading {
	
}